app/backend/node_modules
app/frontend/node_modules
app/shared/node_modules

# builds
app/backend/dist/
app/frontend/dist
app/shared/dist

app/backend/logs

app/backend/.env
app/frontend/.env
app/shared/.env

# genéricos
/node_modules/
/dist/
.env
.DS_Store
